.library-container {
    margin-top: 2em;
}

.tracks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.player-container{
    background-color: #e3ddd3 ;
    height: auto;
    padding: 20px;
    position: sticky;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
} 