.library-container {
    margin-top: 2em;
}

.tracks-container {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 10px));
    grid-gap: 10px;
    justify-content: center;
}

.player-container {
    background-color: #fff5d4;
    height: auto;
    margin: 0px 30px;
    padding: 10px;
    position: sticky;
    bottom: 20px;
    display: grid;
    grid-template-columns: 300px auto auto;
    justify-content: space-evenly;
    border-radius: 20px;
}